<div id="chart_container">
  <div class="flowchart-example-container" id="example"></div>
</div>
<div class="draggable_operators">
  <div class="draggable_operators_label">
    Operators (drag and drop them in the flowchart):
  </div>
  <div class="draggable_operators_divs">
    <div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="0">1 input</div>
    <div class="draggable_operator" data-nb-inputs="0" data-nb-outputs="1">1 output</div>
    <div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">1 input &amp; 1 output</div>
    <div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="2">1 in &amp; 2 out</div>
    <div class="draggable_operator" data-nb-inputs="2" data-nb-outputs="1">2 in &amp; 1 out</div>
    <div class="draggable_operator" data-nb-inputs="2" data-nb-outputs="2">2 in &amp; 2 out</div>
  </div>
</div>
<button class="delete_selected_button">Delete selected operator / link</button>

